<% @body_id = "login" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-2'}) do |f| %>
  <h1><span class="log-in">Log in</span></h1>
  <%= devise_error_messages! %>
  <p class="float">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, placeholder: 'you@example.com' %>
  </p>

  <p class="float">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password'%>
  </p>

  <p>
    <% if devise_mapping.rememberable? %>
      <div class="rememberme">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, id: 'remember' %>
      </div>
    <% end %>
    <%= f.submit "Log in", id: 'submit' %>
  </p>
  <div align="center">
    <%= render "users/shared/links" %>
  </div>
<% end %>