<div class="row" id="chartdetails">
  <div class="col-sm-4" id="doughnutchartcontainer">
    <h3>Top subreddits for <a href="http://www.reddit.com/u/<%= @op %>" target="_blank"><%= @op %></a></h3>
    <canvas id="doughnutchart"></canvas>
  </div>
  <div class="col-sm-4" id="barchartcontainer">
    <h3>Popularity of <a href="http://www.reddit.com/r/<%= @subreddit_name %>" target="_blank">/r/<%= @subreddit_name %></a> for the past week</h3>
    <canvas id="barchart"></canvas>
  </div>
  <div class="col-sm-4" id="polarchartcontainer">
    <h3>Popularity per hour</h3>
    <canvas id="polarchart"></canvas>
  </div>
</div>
<script>
  //get the partial containing all of the render information including the variables for the chart.js charts
  <%= render partial: 'chartdetails.js.erb' %>
</script>