<h2 align="center"><%= @post.title %></h2>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Post Details</h3>
      </div>
      <div class="panel-body">
        <%= link_to "Save this post", save_path(@post) %>
        <hr/>
        <p>Found <%= @scrapes.count %> database entries for this post</p>
        <p>Post created: <%= time_ago_in_words(@post.post_created_at)%> ago</p>
        <p><a href="<%= @post.permalink %>">Reddit link</a></p>
        <p>Posted by: <a href="http://www.reddit.com/u/<%= @post.author %>" target="_blank"><%= @post.author %></a></p>
        <p>Posted to: <a href="http://www.reddit.com/r/<%= @post.subreddit %>" target="_blank">/r/<%= @post.subreddit %></a></p>
        <p>Peak upvote count: <%= @post.count %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Graph one</h3>
      </div>
      <div class="panel-body">
        graph one
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Graph two</h3>
      </div>
      <div class="panel-body">
        graph two
      </div>
    </div>
  </div>
</div>