<% @body_id = "dashboard" %>
<h4>Your personal dashboard</h4>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2" align="center">
    <h3>Saved posts and graphs</h3>
    <% if @saved.count == 0 %>
      <p> You don't have any saved graphs yet, why not <%= link_to "browse the most recent graphs", root_path %>?</p>
    <% else %>
      <div class="dashboardpanel dashboardbox">
      <% @saved.each do |x| %>
        <% savefound = Subscriber.find(x) %>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#<%=x%>" aria-expanded="true" aria-controls="<%=x%>">
                  <%= CGI.unescapeHTML(savefound.title) %>
                </a>
              </h4>
            </div>
            <% if x == @saved.first %>
              <div id="<%=x%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <% else %>
              <div id="<%=x%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <% end %>
              <div class="panel-body">
                <%= link_to "View post details", post_path(savefound) %>
                <hr/>
                GRAPH GOES HERE
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>