<% @body_id = "dashboard" %>
<h1 align="center"><%= @user.name %>'s page</h1>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2" align="center">
    <h3>Saved posts and graphs</h3>
    <% if @saved.count == 0 %>
      <p> This user does not have any saved graphs yet.</p>
    <% else %>
      <div class="dashboardpanel dashboardbox">
      <% @saved.each do |x| %>
        <% savefound = Subscriber.find(x) %>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#<%=x%>" aria-expanded="true" aria-controls="<%=x%>">
                  <%= CGI.unescapeHTML(savefound.title) %>
                </a>
              </h4>
            </div>
            <div id="<%=x%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <%= link_to "View post details", post_path(savefound) %>
                <hr/>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<script>
  <%= render partial: 'user_pages/chartdata.js.erb'%>
</script>